# Are statin prescribing ratios different for dispensing practices?

#### 1. Obtain GP Prescribing data
#### 2. Cut GP Prescribing data for things of interest (statins)
#### 3. Obtain list of dispensing practices
#### 3a. Add codes to list of dispensing practices (name and address only is provided)
#### 4. Combine statin cut and dispensing practice list
#### 5. Compare dispensing vs non-dispensing statin prescribing rations

In [57]:
import requests
from StringIO import StringIO
from numpy import nan
import pandas as pd
import xlrd 
import csv

In [106]:
def fetch_prescribing_data():
    url = 'http://datagov.ic.nhs.uk/presentation/2015_01_January/T201501PDPI+BNFT.CSV' #gp prescribing data (Jan 2015)
    r = requests.get(url)
    data = r.content
    df = pd.read_csv(StringIO(data))

def clean_prescribing_data():
    df.columns = [x.strip() for x in df.columns] #gets rid of variable whitespace
    df = df[df['BNF NAME'].str.contains('statin')] #cut for rows with statin in them and throw away unwanted statins
    df = df[~df['BNF NAME'].str.contains('Nystatin')]
    df = df[~df['BNF NAME'].str.contains('Sandostatin')]
    df = df[~df['BNF NAME'].str.contains('Ecostatin')]
    df.to_csv('StatinsJan2015.csv') #save the result

In [111]:
#fetch_prescribing_data()
#clean_prescribing_data()

df = pd.read_csv('StatinsJan2015.csv') #load cleaned prescribing data cut

In [112]:
df.head()

,Unnamed: 0,SHA,PCT,PRACTICE,BNF CODE,BNF NAME,ITEMS,NIC,ACT COST,QUANTITY,PERIOD,Unnamed: 11
0,99,Q44,RXA,Y00327,0212000Y0AAABAB,Simvastatin_Tab 20mg,1,0.14,0.24,4,201501,
1,100,Q44,RXA,Y00327,0212000Y0AAADAD,Simvastatin_Tab 40mg,1,0.08,0.19,2,201501,
2,586,Q44,RY7,N85638,0212000B0AAACAC,Atorvastatin_Tab 40mg,2,0.58,0.76,10,201501,
3,587,Q44,RY7,N85638,0212000Y0AAADAD,Simvastatin_Tab 40mg,2,0.60,0.78,14,201501,
4,1056,Q44,RY7,N85645,0212000Y0AAABAB,Simvastatin_Tab 20mg,1,0.11,0.21,3,201501,

In [99]:
df1 = pd.read_excel('data/Disp Pracs Name and Address 2015-01-31.xls')

In [40]:
df1.columns

Index([u'Dispensing Practices Address Details', u'Unnamed: 1', u'Unnamed: 2', u'Unnamed: 3', u'Unnamed: 4', u'Unnamed: 5', u'Unnamed: 6'], dtype='object')

In [121]:
df1['Dispensing Practices Address Details'].head()

NaN                                  Primary Care Trust:
NaN                                          Report For:
NaN                            Practice Name and Address
NaN    Addingham Surgery, Addingham Medical Centre, 1...
NaN    Haworth Medical Practice, Heathcliffe Mews, Ha...
Name: Dispensing Practices Address Details, dtype: object

In [116]:
df2 = pd.read_csv('datas/epraccur.csv')#from http://systems.hscic.gov.uk/data/ods/datadownloads/data-files/epraccur.zip

In [118]:
len(df2)

12704

In [120]:
df2.head()

,A81043,THE MANOR HOUSE SURGERY,Y54,Q74,THE MANOR HOUSE SURGERY.1,"BRAIDWOOD ROAD, NORMANBY",MIDDLESBROUGH,CLEVELAND,Unnamed: 8,TS6 0HA,...,Unnamed: 16,01642 374788,Unnamed: 18,Unnamed: 19,Unnamed: 20,1,Unnamed: 22,00M.1,Unnamed: 24,4
0,A81044,MCKENZIE HOUSE SURGERY,Y54,Q74,MCKENZIE HOUSE,17 KENDAL ROAD,HARTLEPOOL,CLEVELAND,NaN,TS25 1QU,...,NaN,01429 230000,NaN,NaN,NaN,1,NaN,00K,NaN,4
1,A81057,KINGSWAY MEDICAL CENTRE,Y54,Q74,KINGSWAY MEDICAL CENTRE,KINGSWAY,BILLINGHAM,CLEVELAND,NaN,TS23 2LS,...,NaN,01642 554967,NaN,NaN,NaN,1,NaN,00K,NaN,4
2,A81623,NORTH SHORE MEDICAL PRACTICE,Y54,Q74,ENDURANCE HOUSE,CLARENCE STREET,STOCKTON ON TEES,CLEVELAND,NaN,TS18 2EP,...,NaN,01642 602222,NaN,NaN,NaN,1,NaN,00K,NaN,4
3,A82034,STONELEIGH SURGERY,Y54,Q74,STONELEIGH SURGERY,POLICE SQUARE,MILNTHORPE,CUMBRIA,NaN,LA7 7PW,...,NaN,01539 563307,NaN,NaN,NaN,1,NaN,01H,NaN,4
4,A82075,MANSION HOUSE SURGERY,Y54,Q74,19/20 IRISH STREET,WHITEHAVEN,CUMBRIA,NaN,NaN,CA28 7BU,...,NaN,01946 693660,NaN,NaN,NaN,1,NaN,01H,NaN,4